.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c3c3c3;
}

.item-list {
    list-style: none;
}

.item {
    font-size: 2rem;
}

.item input {
    height: 20px;
    width: 20px;
}
